- name: set timezone to Asia/Shanghai
  timezone:
    name: Asia/Shanghai

- name: 'disable selinux' 
  selinux:
    policy: targeted
    state: disabled
- name: 'disable firewalld'
  firewalld:
    state: disabled
    immediate: yes
# - name: 'stop system swap'
#   sysctl:
#     name: vm.swappiness
#     value: 0
#     state: present
#     reload: yes
# - name: 'delete system swap in /etc/fstab'
#   replace: 
#     path: "/etc/fstab"
#     regexp: '^/dev/mapper/centos-swap .*'
- name: stop firewalld
  systemd:
    state: stopped
    enabled: no
    name: firewalld
  
- name: 'set ip4 forward'
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    sysctl_set: yes
    state: present
    reload: yes
- name: 'set ip6 forward'
  sysctl:
    name: net.ipv6.conf.all.forwarding
    value: 1
    sysctl_set: yes
    state: present
    reload: yes
# 关于bridge-nf-call-iptables的启用取决于是否将容器连接到Linux bridge或使用其他一些机制(如 SDN vSwitch)。
# - name: 'set ip6table forward'
#   sysctl:
#     name: net.bridge.bridge-nf-call-ip6tables
#     value: 1
#     sysctl_set: yes
#     state: present
#     reload: no
# - name: 'set iptable forward'
#   sysctl:
#     name: net.bridge.bridge-nf-call-iptabless
#     value: 1
#     sysctl_set: yes
#     state: present
#     reload: no
- name: 'create kubernetes foladers'
  file:
    path: '/etc/kubernetes/ssl'
    state: directory

- name: 'copy ca key files'
  copy:
    src: "ca-key.pem"
    dest: '/etc/kubernetes/ssl/ca-key.pem'

- name: 'copy ca files'
  copy:
    src: "ca.pem"
    dest: '/etc/kubernetes/ssl/ca.pem'

- name: 'copy ca.csr files'
  copy:
    src: "ca.csr"
    dest: '/etc/kubernetes/ssl/ca.csr'
    